@font-face {
    font-family: "Kurier Light";
    src: url("fonts/kurier/KurierLight-Regular.ttf");
}

h1 {
    font-weight: normal;
    font-size: 32pt;
}

h2 {
    font-weight: bold;
    font-size: 22pt;
    padding: 10px 0 0 0;
    margin-bottom: 0;
}

body {
    color: #373D3F;
    font-family: "Kurier Light";
    font-size: 12.3pt;
    margin: 0 auto;
    padding: 20px 50px;
    max-width: 650px;
    line-height: 1.6;
}

.math {
    color: #555F61;
    font-size: 11pt;
}

.blog_entry_first,
.blog_entry {
    color: #474747;
    border: 1px solid #D4D4D4;
    padding: 1em 2em;
}

.blog_entry_first {
    border-bottom: none;
}

.blog_entry p,
.blog_entry_first p {
    margin-top: 0em;
    margin-bottom: 0em;
}

.blog_entry_author {
}

.blog_entry_abstract p {
    margin-top: 1em;
}

.blog_entry_title {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.blog_entry_date {
    font-weight: normal;
    font-size: 11pt;
}

.article_link {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s;
}

.article_link:hover {
    background-color: #F5F5F5;
}

.back_to_blog,
.back_to_blog_link {
    padding: 20px 0 0 0;
    text-decoration: none;
    color: inherit;
    /* transition: padding-left 0.3s; */
}

.back_to_blog:hover {
  font-weight: bold;
  /* padding-left: 4px; */
}

.article_info {
    font-size: 11pt;
    padding: 0 0 10px 0;
}
